<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/public/css/styless.css" rel="stylesheet">
    <title>LEILANCE</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="slogan">
                <h1>LEILANCE</h1>
                <h2>O <strong>SEU</strong> site de leilões</h2>
            </div>

            <div class="botoes">
            <button>Cadastre-se</button>
            <button>Entrar</button>
            </div>
        </div>

    </header>


    <footer>


    </footer>
    
</body>
</html>