body {
    box-sizing: border-box;
    max-width: 90vw;
    background-color: rgb(223, 237, 250);
    ;
    
    
    
}

#container {
    align-items: center;
    justify-content: space-between;
}


.produto1 {
       /* border: 1px solid red; */
       box-sizing:border-box;
       width: 300px;
       text-align: center;
       align-items: center;
       justify-content: center;
       margin-top: 20px;
       margin-bottom: 20px;
       margin-right: 5px;
       border-radius: 10%;
       padding-top: 2px;
       padding-bottom: 5px;
       background-color: white;
       position: relative;
       float: left;

}
.produto1 img {
    width: 300px;
    justify-content: center;
    align-items: center;
}

.produto1 button {
    align-items: center;
    width: 80px;
    margin-bottom: 5px;
}


.banner {
    background-color: khaki;
    text-align: center;
    display: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 90vw;
    
}

.botaoPrincipal {
    background-color: aqua;
   
 
    padding-top: 5px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-align: center;
    width: 10vw;
    height: 5vh;
    border-radius: 10%;
}

.titulo1 {
    position:relative;
    width: 100%;
    padding: 5px;
    
  
}

header {
    display: flex;
}

